/* fonts */
@font-face {
  font-family: 'Flaviotte';
  src: url(../fonts/Flaviotte.ttf);
}

@font-face {
  font-family: 'Realtime-Bold';
  src: url(../fonts/realtimetexttest-bold.otf);
}

@font-face {
  font-family: 'Realtime-SemiBold';
  src: url(../fonts/realtimetexttest-semibold.otf);
}

@font-face {
  font-family: 'Roboto-Flex';
  src: url(../fonts/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf);
}

@font-face {
    font-family: 'Emoji';
    src: url(../fonts/EmojiFont.ttf);
}

/* main header */
h1 {
    font-family: 'Flaviotte';
    font-size: 4.5rem;
    color: #2D2926;
}

/* header */
h2 {
    font-family: 'Realtime-Bold';
    font-size: 1.875rem;
    color: #2D2926;
}

/* process analysis header */
h3, .form-label {
    font-family: 'Realtime-Bold';
    font-size: 1.375rem;
    color: #2D2926;
}

p {
    font-family: 'Roboto-Flex';
    font-weight: 300;
    color: #2D2926;
    font-size: 1.05rem;
}

.nav-font {
    font-family: 'Realtime-SemiBold';
    font-size: 1.375rem;
}

.special-p {
    font-size: 1.3625rem;
    color: #2D2926;
}

.emoji-font {
    font-family: 'Emoji';
    font-size: 2.75rem;
}

.green-text {
    color: #4A6138;
}

body {
    background-color: #FDFDFD;
}

/* manipulating white space: https://www.w3schools.com/cssref/pr_text_white-space.php */
.cat-icon {
    font-family: Menlo, monospace;
    font-size: 0.6rem;
    white-space: pre;
}

a {
    text-decoration: none;
}

header a {
    color: #2D2926;
    transition: 0.2s ease-in-out;
}

header a:hover, header a:focus {
    color: #57773E;
}

nav {
    display: flex;
    column-gap: 4.6875rem;
    row-gap: 2.5rem;
}

footer {
    background-color: #4A6138;
}

footer a {
    color: white;
    transition: 0.2s ease-in-out;
}

footer a:hover, footer a:focus {
    color: #2D2926;
}

/* buttons */
.btn {
    background: #57773E;
    color: white;
    transition: 0.2s ease-in-out;
}

.btn:hover, .btn:focus {
    background: rgb(87, 119, 62, 0.75);
    color: white;
}

/* CONTACT FORM */
.form {
    position: relative;
    z-index: 1;
    
    padding: 5rem;
}

/* before pseudo element: https://www.w3schools.com/cssref/sel_before.php */
/* blurring filter: https://www.youtube.com/watch?v=8bTmIOxhIGg*/
.form::before {
    content: "";
    position: absolute;
    z-index: -1;

    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    
    background-color: rgb(122, 170, 85, 0.5);
    border-radius: 1rem;
    filter: blur(50px);
}

.contact-top, .contact-bot, .about-top, .about-bot, .analysis-top, .analysis, .analysis-bot {
    margin-top: 7rem;
    margin-bottom: 7rem;
}

/* HOME */
.home-margin {
    margin-top: 12rem;
    margin-bottom: 12rem;
}

/* CARDS */
.card {
    width: fit-content;
    border: none;
}

/* SVG */
/* changing colour of svg: https://nucleoapp.com/blog/post/change-svg-color-css */
.dark-svg {
    fill: #2d2926;
    transition: 0.2s ease-in-out;
}

.dark-svg:hover, .dark-svg:focus {
    fill: #57773E;
}

button {
    background-color: transparent;
    border: none;
}

/* ABOUT */
.aboutImgs img {
    display: none;
}

img.displayImg {
    display: block;
}

#img-carousel {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.floating-container {
    position: relative;
    height: 25rem;
    width: auto;
}

.floating-container::before {
    content: "";
    position: absolute;
    z-index: -1;

    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    background-color: rgb(122, 170, 85, 0.5);
    border-radius: 50%;
    filter: blur(50px);
}

.floating {
    cursor: pointer;
    /* turning off the text select when moving the words: https://www.w3schools.com/howto/howto_css_disable_text_selection.asp */
    user-select: none;
    -webkit-user-select: none;

    position: absolute;
    font-size: 1.25rem;
    animation: float 3s ease-in-out infinite;
}

.floating:nth-child(1)  {top: 15%; left: 22%;}
.floating:nth-child(2)  {top: 7%; left: 50%; animation-delay: 0.2s;}
.floating:nth-child(3)  {top: 35%; left: 36%; animation-delay: 1s;}
.floating:nth-child(4)  {top: 86%; left: 30%; animation-delay: 0.5s;}
.floating:nth-child(5)  {top: 83%; left: 69%; animation-delay: 0.14s;}
.floating:nth-child(6)  {top: 52%; left: 15%; animation-delay: 0.74s;}
.floating:nth-child(7)  {top: 47%; left: 84%; animation-delay: 1.62s;}
.floating:nth-child(8)  {top: 66%; left: 42%; animation-delay: 1.23s;}
.floating:nth-child(9)  {top: 54%; left: 63%; animation-delay: 1.82s;}
.floating:nth-child(10) {top: 22%; left: 73%; animation-delay: 1.42s;}

@keyframes float {
    0% {transform: scale(1);}
    50% {transform: scale(1.15);}
    100% {transform: scale(1);}
}

/* PROJECT ANALYSIS */


/* MEDIA QUERIES */
@media (max-width: 768px) {
    /* ABOUT PAGE */
    .floating-container {
        height: 33rem;
    }

    .floating:nth-child(1)  {top: 18%; left: 22%;}
    .floating:nth-child(2)  {top: 7%; left: 37%;}
    .floating:nth-child(3)  {top: 35%; left: 36%;}
    .floating:nth-child(4)  {top: 86%; left: 30%;}
    .floating:nth-child(5)  {top: 83%; left: 69%;}
    .floating:nth-child(6)  {top: 52%; left: 15%;}
    .floating:nth-child(7)  {top: 47%; left: 69%;}
    .floating:nth-child(8)  {top: 70%; left: 42%;}
    .floating:nth-child(9)  {top: 58%; left: 61%;}
    .floating:nth-child(10) {top: 25%; left: 60%;}

    /* CONTACT PAGE */
    .form {
        padding: 2rem;
    }
}