/* fonts */
@font-face {
  font-family: 'Flaviotte';
  src: url(../fonts/Flaviotte.ttf);
}

@font-face {
  font-family: 'Realtime-Bold';
  src: url(../fonts/realtimetexttest-bold.otf);
}

@font-face {
  font-family: 'Realtime-SemiBold';
  src: url(../fonts/realtimetexttest-semibold.otf);
}

@font-face {
  font-family: 'Roboto-Flex';
  src: url(../fonts/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf);
}

@font-face {
    font-family: 'Emoji';
    src: url(../fonts/EmojiFont.ttf);
}

h1 {
    font-family: 'Flaviotte';
    font-size: 4.5rem;
    color: #2D2926;
}

h2 {
    font-family: 'Realtime-Bold';
    font-size: 1.875rem;
    color: #2D2926;
}

h3 {
    font-family: 'Realtime-Bold';
    font-size: 1.375rem;
    color: #2D2926;
}

p {
    font-family: 'Roboto-Flex';
    font-weight: 300;
    color: #2D2926;
}

.nav-font {
    font-family: 'Realtime-SemiBold';
    font-size: 1.375rem;
}

.special-p {
    font-size: 1.3625rem;
    color: #2D2926;
}

.emoji-font {
    font-family: 'Emoji';
    font-size: 2.75rem;
}

a {
    text-decoration: none;
}

/* main grid container */
/* .main-grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 0.25rem;
} */

/* header/footer/nav-bar */
/* header, footer {
    display: flex;
    justify-content: center;
} */

header a {
    color: #2D2926;
    transition: 0.2s ease-in-out;
}

header a:hover, header a:focus {
    color: #4A6138;
}

nav {
    display: flex;
    gap: 4.6875rem;
}

footer {
    background-color: #4A6138;
}

footer a {
    color: white;
}

