/* fonts */
@font-face {
  font-family: 'Flaviotte';
  src: url(../fonts/Flaviotte.ttf);
}

@font-face {
  font-family: 'Realtime-Bold';
  src: url(../fonts/realtimetexttest-bold.otf);
}

@font-face {
  font-family: 'Realtime-SemiBold';
  src: url(../fonts/realtimetexttest-semibold.otf);
}

@font-face {
  font-family: 'Roboto-Flex';
  src: url(../fonts/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf);
}

@font-face {
    font-family: 'Emoji';
    src: url(../fonts/EmojiFont.ttf);
}

/* main header */
h1 {
    font-family: 'Flaviotte';
    font-size: 4.5rem;
    color: #2D2926;
}

/* header */
h2 {
    font-family: 'Realtime-Bold';
    font-size: 1.875rem;
    color: #2D2926;
}

/* process analysis header */
h3, .form-label {
    font-family: 'Realtime-Bold';
    font-size: 1.375rem;
    color: #2D2926;
}

p {
    font-family: 'Roboto-Flex';
    font-weight: 300;
    color: #2D2926;
}

.nav-font {
    font-family: 'Realtime-SemiBold';
    font-size: 1.375rem;
}

.special-p {
    font-size: 1.3625rem;
    color: #2D2926;
}

.emoji-font {
    font-family: 'Emoji';
    font-size: 2.75rem;
}

.green-text {
    color: #4A6138;
}

/* disabling overflow: https://stackoverflow.com/questions/24243961/disable-vertical-overflow-in-html-css */
.cat-icon {
    font-size: 0.65rem;
    line-height: 1.2;
    overflow-y: hidden;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

header a {
    color: #2D2926;
    transition: 0.2s ease-in-out;
}

header a:hover, header a:focus {
    color: #4A6138;
}

nav {
    display: flex;
    gap: 4.6875rem;
}

footer {
    background-color: #4A6138;
}

footer a {
    color: white;
    transition: 0.2s ease-in-out;
}

footer a:hover, footer a:focus {
    color: #2D2926;
}

/* buttons */
.btn {
    background: #57773E;
    color: white;
    transition: 0.2s ease-in-out;
}

.btn:hover, .btn:focus {
    background: rgb(87, 119, 62, 0.75);
    color: white;
}



/* CONTACT FORM */
.form {
    position: relative;
    z-index: 1;
    
    padding: 5rem;
}

/* before pseudo element: https://www.w3schools.com/cssref/sel_before.php */
/* blurring filter: https://www.youtube.com/watch?v=8bTmIOxhIGg*/
.form::before {
    content: "";
    position: absolute;
    z-index: -1;

    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    
    background-color: rgb(122, 170, 85, 0.5);
    border-radius: 1rem;
    filter: blur(50px);
}

.contact-top, .contact-bot {
    margin-top: 7rem;
    margin-bottom: 7rem;
}
